body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 54em; 
    border: 1px solid black;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 11.2px; /* MAIN SIZE */
    line-height: 105%;
    /* ???    color: #333;  */
}
pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: monospace;
    font-size: 120%;
    background-color: #f7f7f7;
    border: 1px solid;
    border-color: #dde;
    border-radius: 4px;
    padding: .4em;
}

h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #7a5ada; 
}
h1, h2, h3, h4, h5 {
    font-family: verdana;
    font-weight: bold;
    border-bottom: 1px dotted black;
}
h1 {
    font-size: 180%;
    color: #37789f;
    padding-bottom: 12px;
    border-bottom: 6px double grey;
}
h2 {
    font-size: 130%;
    padding-bottom: 6px;
    color: #326d2b;
}
h3 {
    font-size: 95%;
    color: #680107;
}
h4 {
    font-size: 90%;
    color: #7a5ada;
    font-style: italic;
}
h5 {
    font-size: 90%;
    font-style: italic;
    color: #7a5ada;
}
h1.title {
    font-size: 200%;
    font-weight: bold;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: left;
    border: none;
}

dt code {
    font-weight: bold;
}
dd p {
    margin-top: 0;
}

#footer {
    padding-top: 1em;
    font-size: 70%;
    color: gray;
    text-align: center;
}
